<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="root">button</div> ---啊啊啊啊sssss啊----啊啊啊啊 -----见面会 -------
  <%= htmlWebpackPlugin.options.isProdEnv %>
  <p>hell world</p>
</body>
<% if (!htmlWebpackPlugin.options.isProdEnv) { %>
  <script src='https://cdn.bootcss.com/vConsole/3.3.4/vconsole.min.js'></script>
  <script>
    new VConsole();
  </script>
<%} %>

</html>
